.footer
  background: $bl
  height: 140px
  &__wrap
    padding: 40px 35px
    +fb
  &__right
    +fb
    width: 52%
  &__left
    width: 30%
    color: $wh
    text-align: end
    margin: auto 0
  &__logo
    width: 220px
  &__logo img
    width: 100%
  &__copyright p
    font-size: 12px
    color: $wh
    font-weight: 700
  &__text
    font-weight: 400
    