$play: 'Playfair Display', serif
$mon: 'Montserrat', sans-serif

=for-size($size) 
  @if $size == phone-only 
    @media (max-width: 599px) 
      @content
  @else if $size == tablet-portrait-up 
    @media (max-width: 899px) 
      @content 
  @else if $size == tablet-landscape-up 
    @media (max-width: 1199px) 
      @content
  @else if $size == desktop-up 
    @media (max-width: 1799px) 
      @content
  @else if $size == big-desktop-up 
    @media (min-width: 1800px) 
      @content 

$containerWidth: 1170px
$containerPad: 0 15px

$bl: #000
$wh: #fff
$gr: #1caa49

=fontSettings($fontType, $fontSize, $fontWeight:400, $fontColor: $bl, $lineH: 24px)
  font-family: $fontType
  font-size: $fontSize
  font-weight: $fontWeight
  color: $fontColor
  line-height: $lineH

=fc($display: flex, $flexCol: column)
  display: $display
  flex-direction: $flexCol

=fr($display: flex, $flexRow: row)
  display: $display
  flex-direction: $flexRow

=fb($display: flex, $jcsb: space-between)
  display: $display
  justify-content: $jcsb

=tran($sec: .2s,$ease: ease-in)
  transition: $sec $ease

