$play: 'Playfair Display', serif
$mon: 'Montserrat', sans-serif

$bl: #000
$wh: #fff

=fontSettings($fontType, $fontSize, $fontWeight:400, $fontColor: $bl, $lineH: 24px)
  font-family: $fontType
  font-size: $fontSize
  font-weight: $fontWeight
  color: $fontColor
  line-height: $lineH
