*
  +fontSettings($mon, 16px, 400, $bl, 24px)
  box-sizing: border-box
  margin: 0
  padding: 0
  +for-size(tablet-portrait-up) 
    +fontSettings($mon, 12px, 400, $bl, 24px)
body
  background-image: url('../img/background.jpg')
  background-size: cover

.container
  width: $containerWidth
  padding: $containerPad
  margin: 0 auto
  
+for-size(desktop-up) 
  $containerWidth: 1200px
  $containerPad: inherit 15px
  .container
    width: $containerWidth
    padding: $containerPad
+for-size(tablet-landscape-up) 
  $containerWidth: 900px
  $containerPad: inherit 10px
  .container
    width: $containerWidth
    padding: $containerPad
+for-size(tablet-portrait-up) 
  $containerWidth: 600px
  .container
    width: $containerWidth
+for-size(phone-only) 
  $containerWidth: 320px
  .container
    width: $containerWidth

a
  color: $wh
  text-decoration: none!important

li
  list-style-type: none!important

ul
  margin: 0
  padding: 0

h1,h2,h3,h4,h5,h6
  font-family: $play

.flex-bet
  display: flex
  justify-content: space-between

.flex-col
  display: flex
  flex-direction: column

.btn
  font-weight: 600
  padding: 6px 30px
  border: 3px solid 

.title
  +fontSettings($play, 34px, 700, $bl, 32px)

.text
  +fc
  width: 48%
  +for-size(tablet-portrait-up) 
    text-align: center
    width: 90%

.lines
  width: 258px
  padding: 15px 0 26px
  &__none
    display: none
    +for-size(tablet-landscape-up)
      display: block!important
      margin: 0 auto
